.filter{
    .filter-wrapper{
        align-items: center;
        .search {
            background: #fff;
            border-radius: 50px;
            padding: 0.35rem 1.5rem;
            box-shadow: 0px 0px 15px #00000029;
            .search-wrapper {
                @include centralized(10px);
                .form-control {
                    background: transparent;
                    border: none !important;
                    padding: 4px 10px;
                }
                .input-group {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    width: 100%;
                }
                .input-group-text {
                    background: transparent;
                    border: none !important;
                    color: $color-main;
                    padding: 0;
                }
            }
        }
    }
}
.grid-authors{
    text-align: center;
    .author-cover{
        width: 100%;
        padding: 4px;
        border-radius: 50%;
        overflow: hidden;
        background: $color-main;
        img{
            border-radius: 50%;
            object-fit: cover;
            height: 100%;
        }
    }
    .author-name{
        margin-top: 1rem;
        font-weight: bold;
    }
    .pagination {
        margin-top: 3rem;
    }

}

// single -> auth details
.auth-page{
    margin-top: 150px;
    .auth-nav{
        border-radius: 38px 0px 0px 38px;
        padding: 120px 1.5rem 1rem 3rem;
        background: $color-white;
        box-shadow: -10px 0px 15px #80808029;
        position: relative;
        .auth-name{
            color: $color-main;
            font-weight: bold;
            text-align: center;
        }
        .follow, .unfollow{
            background-color: transparent;
            @include centralized(8px);
            width: fit-content;
            margin:  1.5rem auto;
            color: $color-text;
            font-weight: 500;
            font-size: larger;
            i{
                color: $color-white;
                background-color: $color-main;
                border-radius: 50%;
                @include centralized;
                width: 30px;
                height: 30px;
                font-size: small;
            } 
        }
        .unfollow{
            i{
                color: $color-text;
                background-color: $color-white;
                border: 1px solid #D5D5D5
            }
        }
        
        .diamond {
            display: flex;
            width: 75%;
            gap: 8px;
            color: $color-main;
            justify-content: center;
            position: relative;
            margin: 1rem auto;
            i {
                font-size: 14px;
            }
            &::after{
                content: "";
                width: 100%;
                background-color: $color-main;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 23;
            }
        }
        .nav{
            .nav-link{
                background: $color-gray-bg;
                border-radius: 48px;
                margin-bottom: 1.5rem;
                color: $color-text;
                padding: 14px 20px;
                text-align: start;
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 10px;
                .icon{
                    width: 40px;
                    height: 40px;
                    @include centralized;
                    background-color: $color-white;
                    border-radius: 50%;
                    img{
                        width: 25px;
                    }
                }
                &.active{
                    color: $color-main;
                    .icon{
                        border-right: 2px solid $color-main;
                    }
                }
            }
        }
    }
    .grid-authors{
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50% , -50%);
        .author-cover {
            width: 200px;
            margin: auto;
        }
    }
    .head{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 10px;
        margin-bottom: 2rem;
        h4{
            width: fit-content;
            font-weight: bold;
            color: $color-main;
        }
    }
    .tab-content{
        margin-left: 3.5rem;
    }
    .aboutAuth{
        background: $color-white;
        border-radius: 75px;
        padding: 4rem 3rem 2rem;
        .content p{
            color: #707070;
            line-height: 1.8;
            text-align: center;
        }
    }
    .category{
        .books{
            clip-path: unset;
            padding: 0;
            background-color: transparent;
            .books-gallery {
                grid-template-columns: repeat(3, 1fr);
                .item{
                    img {
                       width: 100%;
                       max-height: 300px;
                    }
                    h5 a {
                       color: $color-black!important;
                       font-weight: bold;
                    }
                }
            }
        }
    }
    .ourBooks img.img-most {
        height: 280px;
    }
}

@include md{
    .auth-page{
        .auth-nav{
            border-radius: 38px ;
            .nav{
                flex-direction: row !important;
                gap: 15px;
                .nav-link{
                    margin-bottom: 0;
                }
            }
        }
        .tab-content {
            margin: 0 1.5rem;
        }
        .aboutAuth {
            border-radius: 0 0 45px 45px;
            .head{
                padding-top: 0;
            }
        }
        .head{
            padding-top: 3rem;
        }
        .ourBooks img.img-most {
            height: 350px;
        }
        .category .books{
            .pagination {
                margin-top: 3rem;
            }
        } 
    }
}

@include sm{
    .auth-page{
        .auth-nav{
            .nav{
                flex-direction: column !important;
                gap: 15px;
            }
        }
        .aboutAuth {
            padding: 4rem 1rem 2rem;
        }
        .ourBooks img.img-most {
            height: 300px;
        }
        .category .books{
            .books-gallery {
                grid-template-columns: repeat(2, 1fr);
            }
        } 
    }
}
