.profile{
    .nav-pills .nav-link {
        color: #909090;
        text-align: start;
        font-size: 22px;
        display: flex;
        align-items: center;
        
        &.active, .nav-pills .show>.nav-link {
            color: $color-black;
            background-color: transparent;
        font-weight: 600;

        }
        span{
            display: inline-block;
            content: "";
            width: 3px;
            height: 25px;
            border-radius: 25px;
            background-color: #909090;
            margin-left: 15px;
        }
        &.active{
            span{
                background: #000;
            }
        }
    }
   
}