.Book_store{
    padding-bottom: 2rem;
    .diamond-section{
        width: 750px;
        max-width: 100%;
        padding-bottom: 4vw;
        margin: auto;
        .diamond{
            color: $color-main;
            justify-content: center;
            i{
                font-size: 14px;
            }
        }
       span {
            content: "";
            width: 100%;
            height: 1px;
            background: $color-main;
            display: inline-block;
            position: relative;
            top:17px;
        }
    }
    
.contain-store{
    align-items: center;
    background: transparent linear-gradient(90deg, #DC9170 0%, #CD6B5A 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px;
    overflow: hidden;
    .texts{
        
        p{
            font-size: 32px;
            color: $color-white;
        }
       a{
        display: block;
        text-align: center;
        padding-top: 15px;
        font-size: 22px;
        font-weight: 600;
        margin-top: 2rem;
        width: 225px;
        height: 60px;
       }
       @include lg{
        a{
            margin-top: 1rem;
           }
       }
       @include md{
       text-align: center;
       padding-right: 0 !important;
       a{
        margin: auto;
        margin-top: 0.5rem;

       }
       }
    }
    .book_img{
        padding-top: 2.5rem;
        margin: auto;
        margin-bottom: -18rem;
        width: 90%;
        @include xl{
            margin-bottom: -15rem;

        }
        @include xs{
            margin-bottom: -8rem;
        }
       
    }
    @include lg{
        padding: 30px 0;
    }
  
}

}