@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;600;700;800;900&display=swap');

* {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  overflow: hidden;
  background:$color-gray-bg;
}
a.link{
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0  !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 99  !important;
  color: transparent !important;
  background: transparent !important;
}
img{
  width:100%
}
.main-send{
  background: $color-white;
  color: $color-main;
  border-radius: 35px;      
  width: 200px;
  height: 45px;
}
.offcanvas.offcanvas-start {
  left: unset;
  right: 0;
}
.offcanvas.offcanvas-start {
  transform: translateX(100%);
}
.accordion-item {
  border: none;
  .accordion-button{
    font-weight: 700;
    color: $color-text; 
    &:not(.collapsed) {
      box-shadow: unset;
      background-color: transparent;
    }
    &::after {
      margin-right: auto;
      margin-left: unset;
    }
    &:focus {
      border-color: none;
      box-shadow: unset; 
    }
  }
}
.form-check {
  padding-left: unset;
  padding-right: 1.5em;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: unset;
    border-color: #808080 !important;
    &:focus {
      box-shadow: none;
    }
  }
  .form-check-input:checked {
    background-color: $color-main;
    border-color: $color-main !important;
  }
}
.dropdown-menu[data-bs-popper] {
  right: 50%;
  transform: translateX(50%);
  left: unset;
  padding: 0;
}
.dropdown-item {
  text-align: right;
  padding: 8px 16px;
}
.dropdown-item:hover{
  color: $color-main;
  background-color: #cd6b5a17;
}
.nice-select{
  width: 100%;
  color: $color-text;
}
.nice-select .list{
  width: 100%;
}
.nice-select{
  border:none;
}
.nice-select ,.nice-select .list li{
  text-align: right !important;
  padding-right: 18px;
  padding-left: 30px;
}
.nice-select:after {
  right: unset;
  left: 12px;
}
.form-select:focus {
  box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none;
}
.form-control::placeholder{
  color: $color-muted;
}
section{
  margin-top: 80px;
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 30px;
}
.Stars::before {
  content: "★★★★★";
  background: linear-gradient(-90deg, #FFF700 var(--percent),#E5E5E5 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ani {
  position: absolute;
}
.ani-1 {
  width: 500px;
  -webkit-animation: zoomIn 2s alternate infinite;
  animation: zoomIn 1s alternate infinite;
  top: -300px;
  right: -250px;
}
.ani-2 {
  width: 200px;
  -webkit-animation: zoomOut 1s alternate infinite;
  animation: zoomOut 1s alternate infinite;
  bottom: -50px;
  right: -100px;
}

#loading {
  position: fixed;
  inset: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 400px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#e0N9viMZnF64_to {
  animation: e0N9viMZnF64_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF64_to__to {
  0% {
    transform: translate(477.980238px, -82.901622px);
  }
  56% {
    transform: translate(477.980238px, -82.901622px);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  92% {
    transform: translate(194.842659px, 31.710999px);
  }
  100% {
    transform: translate(194.842659px, 31.710999px);
  }
}
#e0N9viMZnF64 {
  animation: e0N9viMZnF64_c_o 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF64_c_o {
  0% {
    opacity: 0.23;
  }
  56% {
    opacity: 0.23;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#e0N9viMZnF627_to {
  animation: e0N9viMZnF627_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF627_to__to {
  0% {
    transform: translate(230.234868px, 32.389498px);
  }
  56% {
    transform: translate(230.234868px, 32.389498px);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  92% {
    transform: translate(353.234868px, 32.389498px);
  }
  100% {
    transform: translate(353.234868px, 32.389498px);
  }
}
#e0N9viMZnF627_ts {
  animation: e0N9viMZnF627_ts__ts 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF627_ts__ts {
  0% {
    transform: scale(1.42, 1.42);
  }
  56% {
    transform: scale(1.42, 1.42);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  92% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#e0N9viMZnF628_to {
  animation: e0N9viMZnF628_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF628_to__to {
  0% {
    transform: translate(28.6695px, 29.287px);
  }
  28% {
    transform: translate(28.6695px, 29.287px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  44% {
    transform: translate(33.6695px, 29.287px);
  }
  100% {
    transform: translate(33.6695px, 29.287px);
  }
}
#e0N9viMZnF629_to {
  animation: e0N9viMZnF629_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF629_to__to {
  0% {
    transform: translate(206.124663px, 25.836444px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  28% {
    transform: translate(33.7935px, 28.384446px);
  }
  100% {
    transform: translate(33.7935px, 28.384446px);
  }
}
#e0N9viMZnF632_to {
  animation: e0N9viMZnF632_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF632_to__to {
  0% {
    transform: translate(22.8635px, -50.227692px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  28% {
    transform: translate(27.081px, 15.74px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  44% {
    transform: translate(24.081px, 11.74px);
  }
  100% {
    transform: translate(24.081px, 11.74px);
  }
}
#e0N9viMZnF633_to {
  animation: e0N9viMZnF633_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF633_to__to {
  0% {
    transform: translate(33.6695px, 106.377328px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  28% {
    transform: translate(33.6695px, 53.7935px);
  }
  100% {
    transform: translate(33.6695px, 53.7935px);
  }
}
#e0N9viMZnF634_to {
  animation: e0N9viMZnF634_to__to 2500ms linear 1 normal forwards;
}
@keyframes e0N9viMZnF634_to__to {
  0% {
    transform: translate(-142.632949px, 28.384446px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  28% {
    transform: translate(3.314px, 30.0985px);
  }
  100% {
    transform: translate(3.314px, 30.0985px);
  }
}
.show-pass {
  position: absolute;
  left: 2px;
  top: 0px;
  height: 100%;
  line-height: 40px;
  padding: 0;
  border: 0;
  background-color: #f7f8f9;
  width: 40px;
  border-radius: 5px;
  font-size: 19px;
  color: #8d8d8d;
}
